h1{
    font-family: 'Raleway', cursive;
    font-size: 70px;
    color : black;
    padding-top: 10%;
    padding-left: 40%;
   
}

.gototop {
    border-style: solid;
    border-color: black;
    border-width : 2px;
    padding : 10px 10px 10px 10px;
    color : white;
    font-size: large;
    align-content : center;
    margin-left: 50%;
    margin-right: 40%;

}

h1{
    font-color: yellow;
}